<h1>Portfolio items</h1>

<!-- <a href="portfolios/new">Create new item</a> -->

<%= link_to "Create new item", new_portfolio_path if logged_in?(:site_admin) %>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>