<h1>About Me</h1>
<hr>
<p>As a junior software developer, I've been exploring the realms of Python and Ruby. These two versatile languages have captured my imagination, and I've dived headfirst into their ecosystems.</p>
<p>One of my early accomplishments includes creating Telegram bots that automate tasks and provide valuable services. These bots showcase my love for practical applications of programming and how it can enhance everyday life.</p>
<p>I've also ventured into the world of web scraping using Python, uncovering valuable insights and data from the vast internet. This skill has allowed me to gather and analyze information efficiently, which is crucial in today's data-driven world.</p>
