<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">I'm thrilled to have you here. As a software developer, I've dedicated myself to crafting innovative solutions, pushing the boundaries of technology, and turning ideas into reality. This portfolio is a glimpse into my world of code, creativity, and problem-solving.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %> 
  </p>
</main>